
@font-face {
	font-family: 'Berthold City Medium';
	src: url('Berthold_City_Medium.ttf');
}

@font-face {
	font-family: 'Berthold City Bold';
  	src: url('Berthold_City_Bold.ttf');
}

* {
	margin: 0;
}

html {
	font-size: 125%;
}

body {
	font-size: 50%;
	font-family: 'Berthold City Medium';
}

div.nav>a.ui-btn>span.ui-btn-inner {
	border: none;
	font-size: 2em;
	color: #fff;
}

.dialog {
	text-align: center;
	font-size: 3em;
	color: #999;
	text-shadow: 0 0 0;
}
.nav a {
	background: url('../images/btn.png');
	padding: 0;
	line-height: 44px;
	height: 44px;
	margin: 15px;
	border-radius: 10px;
	text-shadow: 0 0 0;
	font-family: 'Berthold City Medium';
}

#flip {
	position: absolute;
	bottom: 20px;
	left: 20px;
	background: url('../images/flip.png');
	width: 50px;
	height: 50px;	
}

#tap {
	position: absolute;
	bottom: 20px;
	right: 20px;
	background: url('../images/tap.png');
	width: 115px;
	height: 66px;
}

/* Logout-btn */
header.admin>a.ui-btn-right {
	right: 20px;
	background: url('../images/fwd-btn.png');
}

header.show, header.admin {
	width: 100%;
	height: 60px;
	background: #050000;
}

.toggle {
	height: 400px;
}

form {
	width: 278px;
	margin: auto;	
}

/* Back-btn, logout-btn */
header.show>a.ui-btn-left, header.admin>a.ui-btn-left, header.admin>a.ui-btn-right {
	width: 77px;
	height: 32px;
	line-height: 30px;
	border: none;
	box-shadow: 0 0 0;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
	border-radius: 0;
	top: 15px;
}

/* Back-btn */
header.show>a.ui-btn-left, header.admin>a.ui-btn-left {
	left: 20px;
	background: url('../images/back-btn.png');
}

/* Adm-btn */
a#admin-button {
	background: transparent;
	height: 30px;
	border-radius: 0;
	border: none;
	line-height: 30px;
	left: auto;
	text-shadow: 0 0 0;
	box-shadow: 0 0 1px rgba(0,0,0,0.5);	
}

header span.ui-btn-text, .ui-header .ui-btn-inner {
	padding: 0;
	border: none;
}

/* Form */
.ui-submit {
	width: 182px;
	margin: 45px auto;
}

form.start>div.ui-submit>span.ui-btn-inner>span.ui-btn-text{
	padding: 0;
}

.ui-btn-inner, div.ui-input-text {
	padding: 0;
}

.ui-btn-up-c, .ui-btn-up-a, .ui-body-c, .ui-overlay-c  {
	background: transparent;
	border: none;
	box-shadow: 0 0 0;
	border-radius: 0;
}

form.start>div.ui-submit>.ui-btn-inner, div.ui-submit>.ui-btn-inner {
	height: 44px;
	width: 180px;
	line-height: 44px;
	padding: 0;
	background: url('../images/search.png');
	border: 0;
	border-radius: 8px;
	box-shadow:  2px 3px 0px rgba(0, 0, 0, 0.44);
	color: #fff;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.45);
	font-family: 'Berthold City Bold';
}

::-webkit-input-placeholder {
   color: #fff;
}

div.ui-btn>span.ui-btn-inner>span.ui-btn-text {
	font-size: 1.6em;
	padding-left: 15px;
}


form.start>div.ui-input-text>input.search, input#instacount_instacountbundle_campaign_facebook_url, input#instacount_instacountbundle_user_email.ui-input-text, input#instacount_instacountbundle_user_password.ui-input-text, input#instacount_instacountbundle_user_username.ui-input-text, input#instacount_instacountbundle_campaign_tag.ui-input-text, input#instacount_instacountbundle_campaign_name.ui-input-text, input#instacount_instacountbundle_campaign_end_date.ui-input-text, input#instacount_instacountbundle_campaign_start_date.ui-input-text, input#username, input#password {
	padding: 0 0 0 15px;
	background: url('../images/text.png');
	height: 44px;
	width: 100%;
	font-size: 2.6em;
	line-height: 44px;
	color: #fff;
	text-shadow: 0 0 0;
	font-family: 'Berthold City Medium';
}
form.start>div.ui-input-text>input.search {
	width: 264px;
}
.ui-select .ui-btn {
	height: 45px;
	width: 279px;
	line-height: 45px;
	margin-bottom: 15px;
	text-align: left;
	border-radius: 0;
	border: 0;
	color: #fff;
	text-shadow: 0 0 0;
	font-family: 'Berthold City Medium';
	background-image: url('../images/choose.png');	
}

/* ul */
.ui-content .ui-listview {
	width: 98%;
	margin: auto;
	margin-top: 50px;
}
.ui-li .ui-btn-inner a.ui-link-inherit {
	padding: 0  0 0 15px;
}
.ui-btn-text>a.ui-link-inherit{
	color: #fff;
	padding: 0;
	font-size: 1.6em;
	height: 45px;
	line-height: 45px;	
}

ul.ui-listview>li.ui-btn {
	padding: 0;
	background: url('../images/text.png');
	font-family: 'Berthold City Medium';
	text-shadow: 0 0 0;
}

.logo {
	background-image: url('../images/logo.png');	
	background-repeat: no-repeat;
	width: 320px;
	margin: auto;
	min-height: 100%;
	padding-top: 320px;
}

.inner {
	background: #ccc;
	width: 100%;
}

.ui-header, .ui-footer {
 	background: transparent;
 	border: 0; 	
 	height: 50px;
 }
 
.ui-page {
	background-image: url('../images/background.jpg');
}

div.ui-content {
	padding: 0;
	font-family: 'Berthold City Medium';
	color: #666;
}
.clearfix {
	clear: both;
}

#map_div, #chart_div {
	display: none;	
}

.red .ui-btn-inner {
	background: url('../images/btn_red.png');
	margin-left: 35px;
}

.blue .ui-btn-inner {
	background: url('../images/btn_blue.png');
}

.btns {
	width: 180px;
	margin: 25px auto;
}

div.btns>a.ui-btn-right {
	background: transparent;
	border:0;
	border-radius: 0 0 0;
	box-shadow: 0 0 0;
}

.red .ui-btn-inner, .blue .ui-btn-inner {    
    padding: 0 3px;
    line-height: 44px;
    font-size: 1.6em;
    border-radius: 5px;
    color: #fff;
    height: 44px;
    text-decoration: none;    
}

.ui-body-b  {
	text-shadow: 0 0 0;
}

.tag, .landscape .tag {	
	text-align: center;	
	padding-top: 5px;
	font-size: 3em;
	color: #000;
	font-family: 'Berthold City Bold';
	text-shadow: 0 1px 3px rgb(0,0,0,0,5);
	text-transform: uppercase;
}

.tag {
	margin-top: 120px;
}

.landscape .tag {
	margin-top: 20px;
}

.count {
	width: 85%;
	height: 134px;
	margin: 40px auto;	
	border-radius: 15px;
	background: url('../images/count.png');
	text-align: center;
}

.count .figure {
	font-family: 'Berthold City Bold';

	color: #fff;
	line-height: 100%;
	font-size: 12em;
	text-shadow: -1px -2px 2px rgba(0, 0, 0, 0.75);
}

.count .label {
	font-family: arial;
	font-size: 1.4em;
	color: #000;
	text-shadow: 0 0 0;
}
.list-item p {
	font-size: 2em;
	text-align: left;	
}

.admin-list {
	clear: both;	
	margin: 0 15px;
	background-color: #f2f2f2;
	font-size: 1.6em;
	text-align: left;	
	height: 42px;
	line-height: 42px;
}

.admin-list:nth-child(even) {
	background-color: #fff;
}

h3 {
	font-size: 2em;
	text-align: center;
	font-family: 'Berthold City Medium';
}

h2 {
	font-size: 3em;
	color: #000;
	text-align: center;	
	font-family: 'Berthold City Medium';
}

p {
	font-family: 'Berthold City Medium';
	font-size: 2em;
}
	
.plus {
	float: right;
}

div.content>a.plus {
	margin-right: 3em;
}


