@font-face {
	font-family: 'Berthold City Medium';
	src: url('Berthold_City_Medium.ttf');
}

@font-face {
	font-family: 'Berthold City Bold';
  	src: url('Berthold_City_Bold.ttf');
}

* {
	margin: 0;
}

html {
	font-size: 125%;
}

body {
	font-size: 50%;
	font-family: 'Berthold City Medium';
}

div.nav>a.ui-btn>span.ui-btn-inner {
	border: none;
	font-size: 2em;
	color: #fff;
}

.dialog {
	text-align: center;
	font-size: 3em;
	color: #999;
	text-shadow: 0 0 0;
}
.nav a {
	background: url('../images/btn.png');
	padding: 0;
	line-height: 44px;
	height: 44px;
	margin: 15px;
	border-radius: 10px;
	text-shadow: 0 0 0;
	font-family: 'Berthold City Medium';
}

#flip {
	background: url('../images/orientation.png');
	width: 43px;
	height: 60px;
	margin-left: 20px;
}

/* Logout-btn */
header.admin>a.ui-btn-right {
	right: 20px;
	background: url('../images/fwd-btn.png');
}

header.show, header.admin {
	width: 100%;
	height: 60px;
	background: #050000;
}

.toggle {
	height: 400px;
}

form {
	width: 278px;
	margin: auto;	
}

/* Back-btn, logout-btn */
header.show>a.ui-btn-left, header.admin>a.ui-btn-left, header.admin>a.ui-btn-right {
	width: 77px;
	height: 32px;
	line-height: 30px;
	border: none;
	box-shadow: 0 0 0;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
	border-radius: 0;
	top: 15px;
}

/* Back-btn */
header.show>a.ui-btn-left, header.admin>a.ui-btn-left {
	left: 20px;
	background: url('../images/back-btn.png');
}

/* Adm-btn */
a#admin-button {
	background: transparent;
	height: 30px;
	border-radius: 0;
	border: none;
	line-height: 30px;
	left: auto;
	text-shadow: 0 0 0;
	box-shadow: 0 0 1px rgba(0,0,0,0.5);	
}

header span.ui-btn-text, .ui-header .ui-btn-inner {
	padding: 0;
	border: none;
}

/* Form */
.ui-submit {
	width: 182px;
	margin: 45px auto;
}

form.start>div.ui-input-text>input, .ui-select .ui-btn, .ui-btn .ui-shadow .ui-btn-corner-all .ui-btn-up-c {
	padding: 0 0 0 15px;
}

.ui-btn-inner, div.ui-input-text {
	padding: 0;
}

.ui-btn-up-c, .ui-btn-up-a, .ui-body-c, .ui-overlay-c  {
	background: transparent;
	border: none;
	box-shadow: 0 0 0;
	border-radius: 0;
}

form.start>div.ui-submit>.ui-btn-inner, div.ui-submit>.ui-btn-inner {
	height: 44px;
	width: 180px;
	line-height: 44px;
	font-size: 1.8em;
	background: url('../images/search.png');
	border: 0;
	border-radius: 8px;
	box-shadow:  2px 3px 0px rgba(0, 0, 0, 0.44);
	color: #fff;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.45);
	font-family: 'Berthold City Bold';
}

::-webkit-input-placeholder {
   color: #fff;
}

div.ui-btn-inner>div.ui-btn-text>a.ui-link-inherit {
	background: url('../images/text.png');
	height: 44px;
	padding: 0 15px;
	font-size: 1.6em;
	line-height: 44px;
	color: #fff;
	text-shadow: 0 0 0;
	font-family: 'Berthold City Medium';
}

label.ui-input-text {
	display: none;
} 

div.ui-input-text>input#username, div.ui-input-text>input#password {
	padding: 0;
}

form.start>div.ui-input-text>input, div.ui-input-text>input#username, div.ui-input-text>input#password {
	height: 45px;
	width: 263px;
	border-radius: 0;
	font-size: 2.3em;
	line-height: 45px;
	background: url('../images/text.png');
	border: 0;
	color: #fff;
	text-shadow: 0 0 0;
	font-family: 'Berthold City Medium';
}

form .ui-btn-text {
	background: transparent;
	font-size: 1.5em;
	font-weight: normal;

}
.ui-select .ui-btn {
	height: 45px;
	line-height: 45px;
	margin-bottom: 15px;
	text-align: left;
	border-radius: 0;
	border: 0;
	color: #fff;
	text-shadow: 0 0 0;
	font-family: 'Berthold City Medium';
	background-image: url('../images/choose.png');	
}

/* ul */
.ui-content .ui-listview-inset, .ui-panel-inner .ui-listview-inset{
	border: none;
	margin: 5em 1.5em;
}

.logo {
	background-image: url('../images/logo.png');	
	background-repeat: no-repeat;
	width: 320px;
	margin: auto;
	min-height: 100%;
	padding-top: 320px;
}

.inner {
	background: #ccc;
	width: 100%;
}

.ui-header, .ui-footer {
 	background: transparent;
 	border: 0; 	
 	height: 50px;
 }
 
.ui-page {
	background-image: url('../images/background.jpg');
}

div.ui-content {
	padding: 0;
	font-family: 'Berthold City Medium';
	color: #666;
}
.clearfix {
	clear: both;
}

#chart_div, #map_div {
	width: 45%;
	float: left;
	margin: auto;
}

.red .ui-btn-inner {
    background-color : red;
    color: #fff;
    text-decoration: none;    
}

.ui-body-b  {
	text-shadow: 0 0 0;
}

.tag, .landscape .tag {	
	text-align: center;	
	font-size: 3em;
	color: #000;
	font-family: 'Berthold City Bold';
	text-shadow: 0 1px 3px rgb(0,0,0,0,5);
	text-transform: uppercase;
}

.tag {
	margin-top: 100px;
}

.landscape .tag {
	margin-top: 20px;
}

.count {
	width: 85%;
	height: 134px;
	margin: 40px auto;
	line-height: 134px;
	border-radius: 15px;
	background: url('../images/count.png');
	text-align: center;
}

.count p {
	font-family: 'Berthold City Bold';
	color: #fff;
	font-size: 12em;
	text-shadow: -1px -2px 2px rgba(0, 0, 0, 0.75);
}

.list-item p {
	font-size: 2em;
	text-align: left;	
}

.admin {
	clear: both;
	background-color: #f2f2f2;
	font-size: 1.6em;
	text-align: left;	
	height: 42px;
	line-height: 42px;
}

.admin:nth-child(even) {
	background-color: #fff;
}

h3 {
	font-size: 2em;
	text-align: center;
	font-family: 'Berthold City Medium';
}

h2 {
	font-size: 3em;
	color: #000;
	text-align: center;	
	font-family: 'Berthold City Medium';
}

p {
	font-family: 'Berthold City Medium';
	font-size: 2em;
}
	
.plus {
	float: right;
}

div.content>a.plus {
	margin-right: 3em;
}


