{% extends 'InstacountInstacountBundle::layout.html.twig' %}

{% block body %}
    <div class="content" data-theme="b" data-role="content">
			
<h2>User-index</h2>


{% for user in users %}
        
    <p><a href=" {{ path('InstacountInstacountBundle_user_show', { 'id' : user.id }) }} ">{{ user.id }} {{ user.name }} {{ user.role }} </a></p>        
      

           
            
        
   
    {% endfor %}
	</div>		
				
{% endblock %}
