{% extends 'InstacountInstacountBundle::layout.html.twig' %}

{% block title %}Add User{% endblock%}

{% block body %}
    <h1>Add user</h1>
    {% include 'InstacountInstacountBundle:User:form_create.html.twig' with { 'form': form } %}
{% endblock %}