
{% extends 'InstacountInstacountBundle::layout.html.twig' %}

{% block body %}
    <div class="content" data-theme="b" data-role="content">
			
				<select id="tag_form">
					<option selected>Välj företag</option>
					<option value="smarteyes">Smarteyes</option>
					<option value="fjäråskupan">Fjäråskupan</option>
					<option value="arkenzoo">Arken zoo</option>
				</select>
				<a href="#w2" data-transition="flip"><button class="submit">Skicka</button></a>
			</div>		
				
{% endblock %}
