{% extends 'InstacountInstacountBundle::layout2.html.twig' %}
{% block body %}
    <h2>Översikt</h2>
	<div class="toggle row-fluid box-container">
    {% for count in counts %}             
            <div class="span2 campaign-box">
                <div class="span12 inner">
                    <p>#{{ count.campaign.tag }}:</p>
                    <p class="count">{{ count.count }}</p>
                    <p>{{ count.timestamp|date('Y-m-d')}}</p>                      
                </div>                  
            </div>               
    {% endfor %}            
    </div>  		
{% endblock %}