{% extends 'InstacountInstacountBundle::layout.html.twig' %}

{% block body %}
    <div class="content" data-theme="b" data-role="content">
			
<h2>Counter-index</h2>

<p>Här ska siffran visas och vi skickar med ett campaign-id</p>
	</div>		
				
{% endblock %}