{% extends 'InstacountInstacountBundle::layout.html.twig' %}

{% block body %}
   	<div data-role="page" data-add-back-btn="true">
        <header data-position="fixed" data-role="header">
            <h1>Instacount</h1>
            <a href="{{ path('InstacountInstacountBundle_campaign')}}" class="ui-btn-right" data-role="button" data-icon="arrow-r" data-iconpos="right" data-transition="flip">Admin</a>
        </header>
    <div class="content" data-theme="b" data-role="content">
			
<h2>{{ counter.campaign}}</h2>

<p>Har taggats {{ counter.count }} gånger på Instagram.</p>
	</div>		
				
{% endblock %}