{% extends 'InstacountInstacountBundle::layout.html.twig' %}
{% block body %}
<h2>Tags: </h2>
<p>params:</p> 

	<p>Data har sparats!
</p>
{% for item in json %}
<p> {{ item.tag }} {{ item.count}} </p>

{% endfor %}


{% endblock %}